.content {
	// font-family: $secondaryFont;
	padding-bottom: 60px;
	@include media($desktop) {
		margin-bottom: 0;
		padding-bottom: 100px;
		// max-width: 1280px;
		// margin: 0 auto;
		// width: calc(100% - 350px);
		// padding-right: 60px;
	}
	b,
	strong {
		// font-weight: 700;
	}
	p a, li a{
		text-decoration: underline;
		// font-family: $primaryFont;
		color: #233448;
		&:hover {
			text-decoration: underline;
			color: #8b9989;
		}
	}
	h2 {
		color: $secondaryColor;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
		color: $primaryColor;
		font-family: $secondaryFont;
		font-weight: 100;
		margin-top: 70px;

	}
}

article > h2 {
	margin-top: 0 !important;
}

article p ~ h2 {
	margin-top: 70px !important; 
}

.page-title {
	text-align: left;
	position: relative;
	padding-bottom: 0;
	margin-top: 0px;
	width: 100%;
	display: inline-block;
	@include media($tablet) {
		// margin-top: 125px;
	}
	.heading-text,
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $secondaryFont;
		font-weight: 400;
		color: $primaryColor;
		display: block !important;
		// padding-bottom: 30px;
		font-size: 30px;
		line-height: 35px;
		text-align: center;
		@include media($tablet) {
			font-size: 60px;
			line-height: 65px;
		}
		@include media($desktop) {
			font-size: 87px;
			line-height: 90px;
		}
	}
	span {
		font-family: $secondaryFont;
		display: block;
		font-style: italic;
		font-size: 20px;
		@include media($tablet) {
			font-size: 30px;
		}
		@include media($desktop) {
			font-size: 40px;
			
		}
	}
}

.site-crumbs {
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 1px;
	background: #f6f7f6;
	text-align: left;
	font-family: $primaryFont;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	// margin-bottom: 30px;

	@include media($tablet) {
		text-align: center;
		padding-top: 25px !important;
		padding-bottom: 10px !important;
		font-size: 15px;
		line-height: 15px;
		// margin-bottom: 50px;
	}
	.salacious-crumb {
		color: $darkColor;
		position: relative;
		a {
			font-family: $primaryFont;
			text-decoration: none;
			color: $darkColor;
			font-size: 10px;
			line-height: 14px;
			@include media($tablet) {
				font-size: 15px;
				line-height: 15px;
			}
		}
		.crumb-sep {
			margin: 0 14px;
			color: $darkColor;
		}
		.current-crumb-item {
			text-decoration: none;
			color: #c1c9be;
		}
	}
}

.interior {
	text-align: left;
	background: url('images/bg-inside.jpg') bottom center;
	background-repeat: no-repeat; 
	.parent-2611 & {
		background: url('images/bg-inside.jpg') top center;
		background-position-y: 200px;
		background-repeat: no-repeat; 
	}
	background-repeat: no-repeat;
	padding-top: 30px;
	@include media($tablet) {
		padding-top: 50px;
	}
	@include media(1850px) {
		background-size: cover;
	}
	.content {
		overflow-wrap: break-word;
		word-wrap: break-word;
		a:hover {
			text-decoration: none;
		}
		p {
			&:first-of-type {
				margin-top: 0;
			}
		}
		ul {
			margin: 1em 10px;
			list-style: none;
			@include media($tablet) {
				margin: 3em 100px;
			}
			&.two-column {
				@include media($desktop) {
					margin: 3em 50px 3em 180px;
				}
			}
			li {
				position: relative;

				margin-bottom: 7px;
				padding-left: 20px;
				text-transform: uppercase;
				font-style: italic;
				&:before {
					content: "";
					color: #c1c9be;
					background-color: #c1c9be;
					font-weight: $bold;
					position: absolute;
					left: 0px;
					top: 10px;
					width: 7px;
					height: 7px;
					border-radius: 50%;
				}
			}
			ul,
			ul ul {
				margin: 1em 20px;
			}
		}
		ol {
			counter-reset: item;
			margin: 1em 10px;
			@include media($tablet) {
				margin: 3em 100px;
			}
			> li {
				display: block;
				position: relative;

				margin-bottom: 7px;
				padding-left: 23px;

				&:before {
					left: 0px;
					position: absolute;
					content: counter(item) ". ";
					counter-increment: item;
					color: #c1c9be;
					font-weight: bold;
				}
			}
		}

		blockquote {
			font-style: normal;
			margin: 40px 0;
			margin-left: -20px;
			font-family: $secondaryFont;
			font-size: 18px;
			line-height: 30px;
			border-left: 10px solid #c8cdc3;
			padding-left: 30px;
			font-weight: 100;
			margin-bottom: 60px;
			@include media($tablet) {
				font-size: 22px;
				display: block;
				margin-bottom: 90px;
				margin-left: 10px;
			}

			strong {
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-family: $primaryFont;
				font-style: italic;
				color: #c8cdc3;
			}
		}
	}

	.bnacase-imgset {
		clear: both;
		margin: 0 auto;
		background: #c1c8be;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 40px 30px;
		text-align: center;
		text-transform: uppercase;
		width: 80%;
		margin-top: 40px;
		margin-bottom: 40px;

		@include media($tablet) {
			margin-top: 100px;
			margin-bottom: 100px;
		// width: 60%;

	}

	.before, .after {
		overflow: hidden;
		width: 48%;
		img {
			margin-bottom: 0px;
			.mommy-makeover &,
			.labiaplasty &,
			.breast & ,
			.sample-page & {
				filter: blur(10px);
			}
		}

		@include media($tablet) {
			width: 48%;
		}

		span {
			color: $primaryColor;
				// font-weight: bold;
				letter-spacing: 1px;
			}
		}
		.before{
			margin-right: 0;
			@include media($tablet) {
				margin-right: 15px;
			}
		}
		.after {
			position: relative;
		}

		div:last-of-type {
			align-self: center;
			a {
				margin-top: 20px;
				cursor: pointer;
				display: inline-block;
				position: relative;
				text-align: center;
				text-decoration: none !important;
				font-family: $highlightFont;
				// border: 1px solid $primaryColor;
				text-transform: uppercase;
				// letter-spacing: 1px;
				// color: $secondaryColor;
				// padding: 8px 35px;
				// background-color: $lightColor;
				border-bottom: 2px solid $primaryColor;
				&:hover {
					color: $primaryColor;
					// border: 1px solid $tertiaryColor;
					text-decoration: none;

				}
			}
		} 
	}

}






/*==========================================
=            Fill Width Section            =
==========================================*/

.full-width {
	width: 100vw;
	padding: 40px 0px;
	position: relative;
	left: -20px;
	margin-top: 40px;
	margin-bottom: 40px;

	@include media($tablet) {
		left: -40px;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	@include media($desktop) {
		left: calc(((40px + (50vw - (#{$desktop} / 2)))) * -1);
		
	}
	@include media(1280px) {
		// left: calc(((40px + (50vw - (1280px / 2)))) * -1);
		// background-size: cover;
	}
	@include media($full) {
		// left: calc(((40px + (50vw - (#{$full} / 2)))) * -1);
	}
}



.page-feature {
	padding: 0;
	// box-shadow: 10px 10px 15px rgba($primaryColor, .3);
	// border: 1px solid rgba($lightColor, .3);
	display: flex;
	flex-direction: column-reverse;
	background-repeat: no-repeat !important;
	background-color: #fbfcf9;
	@include media($desktop) {
		flex-direction: row-reverse;
		background-size: cover !important;
	}

	.feature-image {
		min-height: 350px;
		@include media($tablet) {
			min-height: 650px;
		}
	}
	> div {
		@include media($tablet) {
			width: 100%;
		}
		@include media($desktop) {
			width: 50%;
		}
	}
	.feature-content {
		// background: #eaf7ff;
		padding: 20px;
		@include media($tablet) {
			padding: 100px 40px;
		}
		@include media($desktop) {
			// background: transparent;
			// padding: 100px 40px;
		}
		@include media($full) {
			// padding: 150px 40px;
		}
		p,
		h2,
		h3 {
			text-align: left;
			margin: 0 auto;
			margin-top: 50px;
			@include media($tablet) {
				margin-top: 0;
				max-width: 600px;
			}
		}
		p {
			margin-top: 20px !important;
		}
		ul li {
			&:before {
				background-color: $primaryColor !important;
			}
		}
		.two-column {
			column-count: 1; 
		}
	}
	.feature-image {
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		@include media($desktop) {
		}
	}
}


/*=========================================
=            Testimonials Page            =
=========================================*/

.testi-container {
	display: flex;
	flex-wrap: wrap;
	.the-testi {
		border: 1px solid rgba($primaryColor, .3) ;
		padding: 20px 20px 10px 20px;
		position: relative;
		width: 100%;
		height: auto;
		@include media($tablet) {
			margin-bottom: 40px;
			margin-right: 20px;
			width: 45%;
		}
		video, iframe {
			width: 100%;
			max-height: 280px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		p {
			margin-bottom: 10px;
			display: block;
		}
		// &:before {
		// 	position: absolute;
		// 	content:'';
		// 	background-image: url('images/icon-quote.jpg');
		// 	background-size: 66px 41px;
		// 	width: 66px;
		// 	height: 41px;
		// 	left: calc(50% - 33px);
		// 	top: 10px;
		// }
	}
}


/*=========================================================================
=            WordPress Core Gallery with Fancybox, Medium Size            =
=========================================================================*/

.gallery {
	.content {
		max-width: none;
	}
}

.gallery-size-medium {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.gallery-item {
		float: none !important;
		margin-right: 5px;
		margin-left: 5px;
		width: 45% !important;
		@include media($tablet) {
			margin-right: 10px;
			margin-left: 10px;
			width: 31% !important;
		}
		img {
			border: none !important;
			width: 100%;
			height: auto;
		}
	}
}

/* Guttenberg Img for Mobile */

.wp-block-image img {
	width: 150px;
	height: auto;
	@include media($tablet) {
		width: auto;
	}
}



/*==============================================
=            Langing Page Sections             =
==============================================*/

.tmpl_type_page_landing {
	.content {
		padding-bottom: 0;
	}
}


//breast augmentation page-989

.page-989 {
	#first-content {
		padding-top: 0;
	}
	.flexible-split-section:nth-of-type(1) {
	}
	.jump-link-list ul {
		@include media($desktop) {
			min-height: 760px;
		}
	}
	#Benefits {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
	}
	#Consultation {
		background-color: #fbfcf9; 

		h2 {
			margin-bottom: 10px;
		}
		h3 {
			margin-top: 0;
			font-style: italic;
		}
	}
	#Types {
		.with-bg {
			@include media($tablet) {
				// background-size: 200px auto;
				background-position: bottom left;
			}
			@include media($desktop) {
				background-size: cover;
			}
		}
	}
	#Ethnic-Considerations {
		@include media($desktop) {
			flex-direction: row-reverse;
			.with-content {
				padding-top: 50px;
			}
			.with-bg {
				height: 980px
			}
		}
		h3 {
			margin-top: 10px;
			margin-bottom: 10px;
			font-family: $primaryFont;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 18px;

			@include media($tablet) {
				font-size: 22px;
				line-height: 22px;
			}
			&:nth-of-type(2),
			&:nth-of-type(3) {
				margin-top: 30px;
				margin-bottom: 0px;
			}

		}
	}
	#Placement {
		background-color: #fbfcf9; 

		h2 {
			margin-bottom: 0px;
		}
		h3 {
			margin-top: 30px;
			margin-bottom: 20px;
			font-family: $primaryFont;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 18px;
			@include media($tablet) {
				font-size: 20px;
				margin-bottom: 0px;
			}
		}
	}
	#Incisions {
		.with-bg {
			height: 600px;

			@include media($tablet) {
				height: 1000px;
			}
			@include media($desktop) {
				height: 820px;
			}
			@include media($full) {
				height: 1100px;
			}
		}
	}
	#Surgery {
		background-color: #fbfcf9; 
	}
}

/* Tummy Tuck Page */

.page-1001 {
	.jump-links-split .with-bg {
		@include media($desktop) {
			height: 1050px;
		}
	}
	#Procedure {
		flex-direction: row-reverse;
		h3 ,
		h2:nth-of-type(2)  
		{
			margin-top: 30px;
			margin-bottom: 10px;
			font-family: $primaryFont;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 18px;

			@include media($tablet) {
				font-size: 22px;
				line-height: 28px;
				margin-bottom: 0px;
			}
		}
		h2:nth-of-type(2) {
			margin-top: 30px !important;
		}

		.with-bg  {
			@include media($desktop) {
				height: 1210px;
				background-size: auto 101%;
			}
		}
	}
}

/* Rhuinoplasty Page  */

.page-1017 {
	#Procedure {
		flex-direction: row-reverse;
		background-size: cover;
	}
	#Recovery {
		background-color: $lightColor;
	}
}

.breast-tabs {
	margin-bottom: 40px;
	margin-top: 40px;
	@include media($tablet) {
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 60px;
		margin-top: 60px;
	}
	.tab-group {
		display: flex;
		text-transform: uppercase;

		> div {
			border: 1px solid #c7c8ca;
			padding: 5px;
			// border-bottom: none;
			background: #fff;
			border-right: none;

			position: relative;
			top: 1px;
			font-size: 10px;
			line-height: 12px;
			@include media($tablet) {
				line-height: 24px;
				font-size: 16px;
				padding: 15px;
			}
			&:last-of-type {
				border-right: 1px solid #c7c8ca;
			}

			&.active {
				border-bottom: none;
				// background-color: rgba(#c7c8ca, .5);
			}
		}

	}
	.the-tabs {
		border: 1px solid #c7c8ca;
		> div {
			padding: 20px;
			display: none;
			@include media($tablet) {
				padding: 40px;
			}
			&.active {
				display: block;
			}
		}  
	}
}