.content {
	// font-family: $secondaryFont;
	padding-bottom: 50px;
	@include media($desktop) {
		margin-bottom: 0;
		// max-width: 1280px;
		// margin: 0 auto;
		// width: calc(100% - 350px);
		// padding-right: 60px;
	}
	b,
	strong {
		// font-weight: 700;
	}
	p a, li a{
		text-decoration: underline;
		// font-family: $primaryFont;
		color: #5191b6;
		&:hover {
			text-decoration: underline;
			color: $secondaryColor;
		}
	}
	h2 {
		color: $secondaryColor;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: left;
		color: $primaryColor;
		font-family: $secondaryFont;
		font-weight: 100;
		margin-top: 70px;

	}
}

article > h2 {
	margin-top: 0 !important;
}

article p ~ h2 {
	margin-top: 70px !important; 
}

.page-title {
	text-align: left;
	position: relative;
	padding-bottom: 0;
	margin-top: 30px;
	width: 100%;
	display: inline-block;
	@include media($tablet) {
		margin-top: 65px;
	}
	.heading-text,
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $secondaryFont;
		font-size: 40px;
		line-height: 48px;
		font-weight: 400;
		color: $primaryColor;
		display: block !important;
		padding-bottom: 30px;
		text-align: left;
		@include media($tablet) {
			font-size: 50px;
			line-height: 58px;
		}
	}
}

.site-crumbs {
	padding-top: 7px;
	padding-bottom: 1px;
	background: #3e5d6f;
	text-align: left;
	font-family: $primaryFont;
	font-size: 10px;
	line-height: 14px;
	@include media($tablet) {
		padding-top: 15px !important;
		padding-bottom: 5px !important;
		font-size: 15px;
		line-height: 15px;
	}
	.salacious-crumb {
		color: $lightColor;
		position: relative;
		a {
			font-family: $primaryFont;
			text-decoration: underline;
			color: $lightColor;
			font-size: 10px;
			line-height: 14px;
			@include media($tablet) {
				font-size: 15px;
				line-height: 15px;
			}
		}
		.crumb-sep {
			margin: 0 8px;
			color: $lightColor;
		}
		.current-crumb-item {
			text-decoration: none;
			color: $lightColor;
		}
	}
}

body.inside {
	background: url('images/bg-inside.jpg') top center;
	@include media($tablet) {
		background-attachment: fixed;
	}
}

.interior {
	text-align: left;
	padding-bottom: 60px;
	@include media($tablet) {
		padding-bottom: 100px;
	}
	@include media($desktop) {
		// display: flex;
		// justify-content: space-between;
	}
	.content {
		overflow-wrap: break-word;
		word-wrap: break-word;
		a:hover {
			text-decoration: none;
		}
		p {
			&:first-of-type {
				margin-top: 0;
			}
		}
		ul {
			margin: 1em 10px;
			list-style: none;
			@include media($tablet) {
				margin: 2em 50px;
			}
			li {
				position: relative;

				margin-bottom: 7px;
				padding-left: 20px;
				&:before {
					content: "";
					color: $secondaryColor;
					background-color: $secondaryColor;
					font-weight: $bold;
					position: absolute;
					left: 0px;
					top: 10px;
					width: 7px;
					height: 7px;
					border-radius: 50%;
				}
			}
			ul,
			ul ul {
				margin: 1em 20px;
			}
		}
		ol {
			counter-reset: item;
			margin: 1em 10px;
			@include media($tablet) {
				margin: 2em 50px;
			}
			> li {
				display: block;
				position: relative;

				margin-bottom: 7px;
				padding-left: 23px;

				&:before {
					left: 0px;
					position: absolute;
					content: counter(item) ". ";
					counter-increment: item;
					color: $secondaryColor;
					font-weight: bold;
				}
			}
		}

		blockquote {
			// color: $secondaryColor;
			margin: 40px 0;
			margin-left: -20px;
			font-family: $highlightFont;
			font-size: 20px;
			line-height: 30px;
			border-left: 7px solid $primaryColor;
			padding-left: 20px;
			font-weight: 100;
			font-size: italic;
			@include media($tablet) {
				margin: 80px 0;
				margin-left: 40px;
				padding-right: 140px;
				font-size: 20px;
				line-height: 29px;
				// float: right;
				// width: 420px;
				// margin: 0 0px 80px 80px;
			}
			position: relative;
			&:before {
				content: "";
				background: url("images/icon-inside-bquote.png");
				background-size: 102px 79px;
				width: 102px;
				height: 79px;
				position: absolute;
				right: 40px;
				top: 20px;
			}
			span {
				font-size: 25px;
				color: $primaryColor;
			}
		}
	}
}


/*==========================================
=            Fill Width Section            =
==========================================*/

.full-width {
	width: 100vw;
	padding: 40px 0px;
	position: relative;
	left: -20px;

	@include media($tablet) {
		left: -40px;
		margin-top: 75px;
		margin-bottom: 75px;
	}

	@include media(1280px) {
		left: calc(((40px + (50vw - (1280px / 2)))) * -1);
		background-size: cover;
	}
	@include media($full) {
		left: calc(((40px + (50vw - (#{$full} / 2)))) * -1);
	}
}



.page-feature-border {
	margin: 40px 0;
	@include media($tablet) {
		box-shadow: 10px 10px 15px rgba($primaryColor, .3);
		padding: 20px 20px;
		margin: 100px 0;
	}
}

.page-feature {
	box-shadow: 10px 10px 15px rgba($primaryColor, .3);
	border: 1px solid rgba($lightColor, .3);
	display: flex;
	flex-direction: column-reverse;
	background-repeat: no-repeat !important;
	@include media($desktop) {
		flex-direction: row-reverse;
		background-size: cover !important;
	}

	.feature-image {
		min-height: 350px;
		@include media($tablet) {
			min-height: 450px;
		}
	}
	> div {
		@include media($tablet) {
			width: 100%;
		}
		@include media($desktop) {
			width: 50%;
		}
	}
	.feature-content {
		background: #eaf7ff;
		padding: 20px;
		@include media($tablet) {
			padding: 60px 40px;
		}
		@include media($desktop) {
			background: transparent;
			// padding: 100px 40px;
		}
		@include media($full) {
			// padding: 150px 40px;
		}
		p,
		h2,
		h3 {
			text-align: left;
			margin: 0 auto;
			margin-top: 50px;
			@include media($tablet) {
				margin-top: 0;
				// max-width: 500px;
			}
		}
		p {
			margin-top: 20px !important;
		}
		ul li {
			&:before {
				background-color: $primaryColor !important;
			}
		}
		.two-column {
			column-count: 1; 
		}
	}
	.feature-image {
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		@include media($desktop) {
		}
	}
}


/*=========================================
=            Testimonials Page            =
=========================================*/

.testi-container {
	display: flex;
	flex-wrap: wrap;
	.the-testi {
		border: 1px solid rgba($primaryColor, .3) ;
		padding: 20px 20px 10px 20px;
		position: relative;
		width: 100%;
		height: auto;
		@include media($tablet) {
			margin-bottom: 40px;
			margin-right: 20px;
			width: 45%;
		}
		video, iframe {
			width: 100%;
			max-height: 280px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		p {
			margin-bottom: 10px;
			display: block;
		}
		// &:before {
		// 	position: absolute;
		// 	content:'';
		// 	background-image: url('images/icon-quote.jpg');
		// 	background-size: 66px 41px;
		// 	width: 66px;
		// 	height: 41px;
		// 	left: calc(50% - 33px);
		// 	top: 10px;
		// }
	}
}


/*=========================================================================
=            WordPress Core Gallery with Fancybox, Medium Size            =
=========================================================================*/

.gallery {
	.content {
		max-width: none;
	}
}

.gallery-size-medium {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.gallery-item {
		float: none !important;
		margin-right: 5px;
		margin-left: 5px;
		width: 45% !important;
		@include media($tablet) {
			margin-right: 10px;
			margin-left: 10px;
			width: 31% !important;
		}
		img {
			border: none !important;
			width: 100%;
			height: auto;
		}
	}
}

/* Guttenberg Img for Mobile */

.wp-block-image img {
	width: 150px;
	height: auto;
	@include media($tablet) {
		width: auto;
	}
}



/*==============================================
=            Langing Page Sections             =
==============================================*/

.tmpl_type_page_landing header {
	position: relative;
	margin-bottom: 0px;
	height: auto;
	// background-size: 125vw auto;
	background-position: top right;
	height: 400px;
	// min-height: 400px;

	@include media($tablet) {
		background-position: center center;
		background-size: cover;
		height: 80vh;
		min-height: 600px
	}
	@include media($desktop) {
		min-height: 600px
	}
	.page-title {
		width: 100%;
		position: absolute;
		bottom:0;
		right: 0;
		background: rgba($lightColor , .7); 
		margin-bottom: 0;
		padding-top: 20px;
		margin-left: 0;
		h1 {
			padding-left: 0;
			text-align: left !important;
			margin-bottom: 0;
		}
		.page-title-line {
			margin: 0;
			margin-bottom: 20px;
		}

	}
	.inside-header-logo {
		@include media($tablet) {
			margin-top: 200px;
			margin-top: 25vh;
		}
		@include media($desktop) {
		}
	}
}

.tmpl_type_page_landing .flexible-content-page {
	padding-bottom: 0;
	.content {
		background-image: none !important;
		width: 100%;
		padding-right: 0px;
		padding-bottom: 0;
	}
}

.news-specials {
	form {
		max-width: 600px;
	}
}



// /* Breast Augmentation Page */

// .page-170 {
// 	.jump-links-content {
// 		display: none;
// 	}
// 	#WhatisBreastAugmentation {
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			.with-bg {
// 				min-height: 600px;
// 			}
// 			flex-direction: column;
// 			> div {
// 				width: 100%;
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-direction: row-reverse;
// 			> div {
// 				width: 50%;
// 			}
// 		}
// 	}
// 	#BreastAugmentationBenefits {
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 		}
// 	}
// 	#BreastAugmentationCandidates {
// 		.two-column {
// 			@include media($desktop) {
// 				max-height: 350px;
// 			}
// 		}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			@include media($tablet) {
// 				margin-bottom: 60px;
// 			}
// 		}
// 	}
// 	.view-gallery-callout {
// 		text-align: center;
// 		background-position: center right;
// 		background-size: cover;
// 		height: 200px;
// 		@include media($tablet) {
// 			height: 350px;
// 			background-size: cover;
// 		}
// 		.page-title-line-custom {
// 			display: none;
// 		}
// 		h2 {
// 			color: $lightColor !important;
// 		}
// 		@include media($desktop) {
// 			padding-right: 50%;
// 		}
// 		.button {
// 			display: inline-block;
// 			color: $darkColor !important;
// 			background-color: $secondaryColor;
// 		}
// 	}
// 	#SalinevsSiliconeImplants {
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 		}
// 		> div {
// 			@include media($tablet) {
// 				width: 40%;
// 			}
// 			@include media($desktop) {
// 				width: 45%;
// 			}
// 		}
// 	}
// 	#TypesofBreastImplants {
// 		text-align: left;
// 		background-size: cover;
// 		@include media($tablet) {
// 			padding-right: 35%;
// 		}
// 		@include media($desktop) {
// 			padding-right: 45%;
// 		}
// 		h2 {
// 			text-align: left;
// 		}
// 		.featured-content {
// 			@include media($tablet) {
// 				border: 1px solid rgba($primaryColor, .4);
// 				padding: 60px;
// 			}
// 		}
// 	}
// 	#ImplantSizeandShape {
// 		color: $lightColor;
// 		border: 1px solid rgba($primaryColor, .4);
// 		text-align: center;
// 		@include media($tablet) {
// 			padding-bottom: 80px;
// 		}
// 		h2 {color: $lightColor;}
// 		.featured-content {
// 			@include media($tablet) {
// 				border: 1px solid rgba($lightColor, .4);
// 				padding: 60px;
// 			}
// 		}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			background-color: $lightColor;
// 		}
// 	}
// 	#ImplantTypesTwo {
// 		text-align: center;
// 		padding-bottom: 80px !important;
// 		> div {
// 			&:first-of-type {
// 				margin-bottom: 60px;
// 				@include media($tablet) {
// 					margin-bottom: 0;
// 				}
// 			}
// 			@include media($tablet) {
// 				width: 40%;
// 			}
// 		}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 		}
// 	}
// 	#benefits-drawbacks {
// 		text-align: center;
// 		padding-top: 0px;
// 		padding-bottom: 40px;
// 		@include media($tablet) {
// 			padding-bottom: 100px;
// 		}
// 	}
// 	#ImplantPlacement {
// 		text-align: left;
// 		background-size: cover;
// 		background-size: auto 75vw;
// 		background-position: top right;
// 		padding-top: 75vw;
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			// padding-right: 35%;
// 		}
// 		@include media($desktop) {
// 			padding-top: 100px;
// 			background-position: center center;
// 			background-size: auto auto;
// 			padding-right: 45%;
// 		}
// 		h2 {
// 			text-align: left;
// 		}
// 		.featured-content {
// 			@include media($tablet) {
// 				border: 1px solid rgba($primaryColor, .4);
// 				padding: 60px;
// 			}
// 		}
// 	}
// 	#IncisionPlacement {
// 		text-align: center;
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 		}
// 	}
// 	#theIncisions {
// 		padding-top: 0;
// 		h3 {text-align: left;}
// 		> div {
// 			margin-bottom: 40px;
// 		}
// 		@include media($tablet) {
// 			display: flex !important;
// 			> div {  
// 				width: 45%;
// 				margin-bottom: 60px; 
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-wrap: nowrap;
// 			> div {
// 				width: 20%;
// 			}
// 		}
// 	}
// 	#BreastAugmentationProcedure {
// 		color: $lightColor;
// 		background-position-x: -900px; 
// 		background-size: cover;
// 		@include media(550px) {
// 			background-size: cover;
// 			background-position: center center;
// 		}
// 		.featured-content {
// 			height: auto;
// 		}
// 		h2 {color: $lightColor;}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			background-color: $lightColor;
// 		}
// 		p a {
// 			color: $lightColor;
// 		}
// 	}
// 	#FourBlock {
// 		> div {
// 			margin-bottom: 80px;
// 		} 
// 		@include media($tablet) {
// 			flex-wrap: wrap !important;
// 			> div {
// 				width: 46%;
// 				img {
// 					margin-bottom: 40px;
// 				}
// 				h2 {
// 					font-size: 33px;
// 					line-height: 37px;
// 				}
// 			}
// 		}
// 	}
// 	#ReflectionofYourFuture {
// 		text-align: left;
// 		color: $lightColor;
// 		background-size: 700px auto;
// 		padding-right: 45%;
// 		// background-position-x: -800px; 
// 		@include media(450px) {
// 			background-size: 1000px auto;
// 		}
// 		@include media($tablet) {
// 			background-size: cover;
// 		}
// 		h2 {color: $lightColor;
// 			text-align: left;
// 		}
// 		.featured-content {
// 			@include media($tablet) {
// 				border: 1px solid rgba($lightColor, .4);
// 				padding: 60px;
// 			}
// 		}
// 		.page-title-line-custom {
// 			margin-bottom: 20px;
// 			background-color: $lightColor;
// 		}
// 	}
// 	#ChoosingaBreastAugmentationSurgeon {
// 		background-color: #faf9ec;
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 		@include media($tablet) {
// 			h2, p {
// 				max-width: 820px;
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// 	#FinalDoctorSection {
// 		background-size: auto 450px;
// 		background-position: top left;
// 		padding-top: 470px;
// 		@include media($tablet) {
// 			background-size: auto 600px;
// 			background-position: top left;
// 		}
// 		@include media($desktop) {
// 			padding-top: 100px;
// 			background-size: auto 750px;
// 			background-position: top center;

// 			padding-left: 40%;
// 		}
// 		@include media($full) {
// 			background-size: cover;
// 		}
// 		.featured-content {
// 			background-color: #faf9ec;
// 			padding-top: 40px;
// 			padding-bottom: 40px;
// 		}
// 		.page-title-line-custom {
// 			display: none ;
// 		}
// 		li {
// 			margin-bottom: 20px;
// 		}
// 	}
// }




// /* Tummy Tuck Page */


// .page-187 {
// 	#Tummy-Tuck-Candidates {
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			flex-direction: column;
// 			> div {
// 				width: 100%;
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-direction: row-reverse;
// 			> div {
// 				width: 50%;
// 			}
// 		}
// 	}
// 	#Tummy-Tuck-Procedure {
// 		background-color: #faf9e3;
// 		@include media($tablet) {
// 					flex-direction: column;
// 					> div {
// 						width: 100%;
// 						min-height: 600px;
// 					}
// 				}
// 				@include media($desktop) {
// 					flex-direction: row;
// 					> div {
// 						width: 50%;
// 					}
// 				}
// 	}
// 	#TummyBNA {
// 		background: url('images/bg-tummy-bna.jpg');
// 		background-size: cover;
// 	}
// 	#TummyTwoColumn {
// 		h2 {
// 			text-align: left;
// 		}
// 		>div {
// 			margin-bottom: 40px;
// 		}
// 		@include media($tablet) {
// 			> div {
// 				margin-bottom: 0px;
// 				width: 45%;
// 			}
// 		}
// 	}
// 	#Abdominoplasty-Risks {
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			flex-direction: column;
// 			> div {
// 				width: 100%;
// 				min-height: 800px;
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-direction: row-reverse;
// 			> div {
// 				width: 50%;
// 			}
// 		}
// 	}
// 	#Tummy-Tuck-Recovery {
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			flex-direction: column;
// 			> div {
// 				width: 100%;
// 				min-height: 800px;
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-direction: row;
// 			> div {
// 				width: 50%;
// 			}
// 		}
// 	}
// 	#Results-Pregnancy {
// 		> div {
// 			@include media($tablet) {
// 				width: 45%;
// 			}
// 			h2 {text-align: left;}
// 			img {margin-bottom: 40px;}
// 		}
// 	}
// 	#Tummy-Tuck-and-Stretch-Marks {
// 		color: $lightColor;
// 		background-position: bottom right;
// 		h2 {color: $lightColor;}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 			background-color: $lightColor;
// 		}
// 		@include media($tablet) {
// 			background-position: center center;
// 			h2, p {
// 				max-width: 820px;
// 				margin: 0 auto;
// 			}
// 			p {
// 				margin-bottom: 20px;
// 			}

// 		}
// 	}
// 	#Scars-Non-Surgical {
// 		> div {
// 			@include media($tablet) {
// 				width: 45%;
// 			}
// 			h2 {text-align: left;}
// 			img {margin-bottom: 40px;}
// 		}
// 	}
// 	#Tummy-Tuck-FAQ {
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 		h3 {text-align: left;}
// 	}
// 	#Tummy-Tuck-Cost {
// 		@include media($tablet) {
// 			background-color: #faf9ec;
// 			flex-direction: row-reverse;
// 		}
// 	}
// 	#Tummy-Schedule {
// 		background-color: #faf9ec;
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 		@include media($tablet) {
// 			background-position: center center;
// 			h2, p {
// 				max-width: 820px;
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// }



// /*======================================
// =            Mommy Makeover            =
// ======================================*/


// .page-201 {
// 	#Mommy-Makeover-Candidates {
// 		background-color: #faf9ec;
// 		@include media($tablet) {
// 			flex-direction: column;
// 			> div {
// 				width: 100%;
// 			}
// 		}
// 		@include media($desktop) {
// 			flex-direction: row-reverse;
// 			> div {
// 				width: 50%;
// 			}

// 		}
// 	}
// 	#mommy-gallery-bna {
// 		height: 350px;
// 		text-align: center;
// 		background-position: center center;
// 		background-position-x: -600px; 
// 		background-size: cover;
// 		@include media($tablet) {
// 			background-position: center center;
// 			background-size: cover;
// 		}
// 		.page-title-line-custom {
// 			display: none;
// 		}
// 		h2 {
// 			color: $lightColor !important;
// 		}
// 		@include media($desktop) {
// 			padding-right: 50%;
// 		}
// 		.button {
// 			display: inline-block;
// 			color: $darkColor !important;
// 			background-color: $secondaryColor;
// 		}
// 	}
// 	#Mommy-Makeover-Treatment-Options {
// 		padding-bottom: 0;
// 		text-align: center;
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 	}
// 	#The-Treatment-Options {
// 		padding-top: 40px;
// 		> div {
// 			h3 {
// 				text-align: left;
// 				font-size: 30px;
// 			}
// 			margin-bottom: 60px;
// 			@include media($tablet) {
// 				margin-bottom: 0px;
// 				width: 48%;
// 			}
// 			@include media($desktop) {
// 				width: 22%;
// 			}
// 		}
// 	}
// 	#Mommy-Makeover-Recovery {
// 		color: $lightColor;
// 		background-position: center left;
// 		background-position-x: -200px;
// 		background-size: cover;
// 		@include media($desktop) {
// 		background-size: cover;
// 			background-position: center center;
// 		}
// 		h2 {color: $lightColor;}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 			background-color: $lightColor;
// 		}
// 	}
// 	#Mommy-Makeover-Tips {
// 		background-color: #faf9ec;
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 	}
// 	#Mommy-Makeover-Recovery-Tips-List {
// 		background-color: #faf9ec;
// 		padding-top: 0;
// 		>div {
// 			margin-bottom: 80px;
// 			@include media($tablet) {
// 				width: 45%;
// 			}
// 			@include media($desktop) {
// 				width: 22%;
// 			}
// 		}
// 	}
// 	#Scars-Cost {
// 		@include media($tablet) {
// 			> div { 
// 				width: 45%;
// 			}
// 		}
// 		.page-title-line-custom {
// 			margin: 0 auto;
// 			margin-bottom: 20px;
// 			margin-top: 30px;
// 		}
// 	}
// 	#Mommy-Contact {
// 		background-color: #faf9ec;
// 	}
// }
