/*====================================
=            Upper Footer            =
====================================*/

/* Hide Footer on Contact Page */

.contact .upper-footer, 
.contact .footer-cta 
{
	display: none;
}


.upper-footer {
	background-position: center center;
	@include media($desktop) {
		height: 490px;
	}
}

.middle-footer {
	max-width: 968px;
	margin: 0 auto;
	padding: 15px 0;
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		// border: 1px solid red;
		margin: 0 10px;
	}
}


/*====================================
=            Lower Footer            =
====================================*/


.footer-address {
	font-family: $secondaryFont;
	text-align: center;
	font-size: 16px;
	@include media($tablet) {
		font-size: 18px;
	}
	@include media($desktop) {
		text-align: right;
		height: 120px;
		// border: 1px solid red;
	}
	img {
		width: 100%;
		max-width: 440px;
		// margin-bottom: 40px;
		display: block;
		@include media($tablet) {
			margin-right: 40px;
		}
		@include media($desktop) {
			float: left;
			max-width: 440px;
			margin-left: -20px;
		}
	}
	.the-loc {
		margin-top: 20px;
		@include media($desktop) {
		}
		a {
			text-decoration: none;
		}
	}
	span {
		color: #c7cdc5;
		font-size: 16px;
		font-family: $primaryFont;
		@include media($tablet) {
			font-size: 18px;
			
		}
	}
	.loc-phone a {
		font-size: 25px;
		
	}
}

.lower-footer {
	border-top: 1px solid #e2e1dc;
	text-align: center;
	background-color: $tertiaryColor;
	color: $darkColor;
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}


.model-disc {
	font-size: 12px;
	line-height: 16px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	color: $darkColor;
	font-style: italic;
	display: block;
	width: 100%;
	@include media($desktop) {
		display: block;
		max-width: 600px;
		margin: 0;
		margin-top: 10px;
		text-align: left;
	}
}

.split-lower {
	@include media($desktop) {
		display: flex;
		justify-content: space-between;
	}
}

.copyright,
.rm-sig {
	display: inline-block;
	font-family: $primaryFont;
	text-align: center;
	color: $darkColor;
	font-size: 12px;
	line-height: 16px;
	@include media($desktop) {
		font-size: 15px;
		line-height: 22px;
		// text-align: left;
	}
	a {
		color: $darkColor;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.rm-sig svg {
	position: relative;
	top: 4px;
	left: 2px;
	width: 40px;
	height: auto;

	@include media($desktop) {
		top: 2px;
		left: 4px;
	}
	path {
		fill: #c7cdc5;
		transition: all 0.1s ease-in;
	}
	&:hover {
		path {
			fill: $secondaryColor;
		}
	}
}
