// header,
// .welcome,
// footer,
// .home-doctor,
// .home-featured-procedures,
// .home-featured-breast,
.home-media-results
 {
 	display: none !important;
}


 .home h2 {
 	margin: 0;
 	font-family: $secondaryFont;
 }



/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background: #e9f1ed url("images/bg-welcome.jpg") center center;
		background-repeat: no-repeat;
	}
	@include media(1660px) {
		background-size: cover;
	}
}

.welcome {
	background: #fff url("images/bg-welcome.jpg") top right no-repeat;
	background-size: 720px auto;
	background-position-y: -40px; 
	z-index: 1000;
	height-min: 760px;
	@include media(500px) {
	// background-position-y: 420px; 
		// background-size: 780px auto;
	}
	@include media($tablet) {
		padding-top: 0;
		background: #e9f1ed url("images/bg-welcome.jpg") top center no-repeat;
		background-size: 138% auto;
		// height: 550px;
		max-height: none;
	}
	@include media($desktop) {
		background: none;
		height: 100vh;
		min-height: 768px;
	}
}

.welcome-logo {
	margin-top: 70px;
	@include media($tablet) {
		display: none
	}
	img {
		width: 320px;
	}
}

.welcome .welcome-cta {
	margin-top: 10px;
	padding-top: 350px;
	text-align: center;
	padding-bottom: 20px;
	// background-color: $lightColor;
	@include media($tablet) {
		margin-top: 0;
		width: 490px;
		height: 780px;
		background: none;
		padding-top: 220px;
		padding-left: 50px;
	}
	@include media($desktop) {
		width: 800px;
		padding-top: 35vh;
		margin-left: 2vw;
	}
	@include media(1350px) {
		margin-left: 10vw;
	}
	h2 {
		background: rgba( $lightColor, .8 );
		padding: 10px 20px;
		text-align: center;
		font-size: 30px;
		line-height: 34px;
		@include media($tablet) {
			background: transparent;
			padding: 0px;
			font-size: 38px;
			line-height: 45px;
		}
		@include media($desktop) {
			font-size: 80px;
			line-height: 89px;
		}
		span {
			margin-top: 0px;
			margin-bottom: 0px;
			display: block;
			font-size: 13px;
			@include media($tablet) {
				margin-top: 10px;
				margin-bottom: 40px;
				font-size: 18px;
				line-height: 22px;
			}
			@include media($desktop) {
				font-size: 34px;
				line-height: 32px;
			}
		}
	}
	p {
		padding-top: 20px;
		background: $lightColor;
		padding-left: 20px;
		padding-right: 20px;
		@include media($tablet) {
			padding-top: 0;
			background: transparent;
		}
	}
	.button {
		margin-top: 10px;
		// margin-bottom: 30px;

		@include media($tablet) {
			margin-top: 20px;
		}
	}
}


/*===================================
=            home-doctor            =
===================================*/

.home-doctor {
	position: relative;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	background-color: #f1efec;
	// background: #9fb9c7 url("images/bg-doctor.jpg") center center no-repeat;
	background-size: cover;
		overflow: hidden;
		background-repeat: no-repeat;

	@include media($tablet) {
		padding-top: 100px;
		// padding-top: 120px;
		padding-bottom: 100px;
	}
	@include media($desktop) {
		height: 670px;
		// background-attachment: fixed;
	}
	h2 {
		margin-bottom: 20px;
		@include media($tablet) {
			margin-bottom: 40px;
		}
		@include media($desktop) {
			font-size: 50px;
			line-height: 55px;
		}
	}
	p a {
		text-decoration: underline;
		color: $primaryColor;
	}
	a {
		border: 1px solid transparent;
		@include media($tablet) {
			
		&:hover {
			border: 1px solid rgba($lightColor, .2);
			background: rgba($lightColor, .1);
		}
		}
	}
	.doc-content {
		@include media($tablet) {
			padding-right: 55%;
		}
		@include media(900px) {
			padding-right: 45%;
		}

		@include media($desktop) {
			padding-right: 55%;
		}
		img.doc-image {
			width: 140px;
			position: absolute;
			bottom: 0px;
			right: -20px;
			z-index: 2;
			@include media(375px) {
				width: 180px;
			}
			@include media(480px) {
				right: calc(50% - 200px;);
			}
			@include media($tablet) {
				width: 350px;
				position: absolute;
				right: calc(50% - 350px;);
				bottom: 246px;
			}
			@include media(900px) {
				bottom: 120px;
				right: 30px;
				width: 360px;

			}
			@include media($desktop) {
				width: auto;
				position: absolute;
				bottom: -150px;
				right: calc(50% - 550px;)
			}
		}
	}

	.doctors-buttons {
		z-index: 2000px;
		margin-top: 100px;
		width: 100%;
		background: #bd813e;
		padding: 20px;
		box-shadow: 10px 10px 15px rgba($primaryColor, .3);
		width: calc(100% + 40px);
		left: -20px;
		position: relative;
		z-index: 1;
	}
	.doctors-buttons-again {
		transition: all .35s ease-in-out;
		padding: 15px;
		box-shadow: 10px 10px 15px rgba($primaryColor, .3);
		background: transparent;
		border: 1px solid rgba($lightColor, .3);
		display: flex;
		flex-wrap: wrap;
		@include media($tablet) {
			flex-wrap: nowrap;
		}
		@include media($desktop) {
			
		}
		a {
			width: 100%;
			padding: 10px 0px;
			font-family: $secondaryFont;
			color: $lightColor;
			text-decoration: none;
			font-size: 18px;
			@include media($tablet) {
				width: auto;
				font-size: 28px;
				padding: 10px 40px;
				border-right: 1px solid rgba($lightColor,.3) ;
			}
			span {
				font-family: $primaryFont;
				display: block;
				font-size: 12px;
				@include media($tablet) {
					font-size: 16px;
					
				}
			}
		}
	}
}



/*================================================
=            home-featured-procedures            =
================================================*/

.home-featured-procedures {
	// background: #c9cfc6;
	ul {
		margin: 0;
		color: $lightColor;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		@include media($tablet) {
			flex-wrap: nowrap;
			justify-content: center;
		}
	}
	li {
		width: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all .35s ease-in-out;
		position: relative;
		height: 250px;
		@include media($tablet) {
			width: 25%;
			height: 450px;
			padding-left: 10px;
			padding-right: 10px;
			// padding-top: 250px;
			// padding-bottom: 80px;
		}
		@include media($desktop) {
		}
		.feat-overlay {
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			transition: all .35s ease-in-out;
			background: transparent;
			overflow: hidden;
			.feat-links {
				padding-top: 40px;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				flex-direction: column;
				transition: all .35s ease-in-out;
				top: -140px;
				position: relative;
				opacity: 0;
			}
			a {
				margin-bottom: 10px;
				color: $primaryColor;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.proced-name {
			left: 0;
			right: 0;
			bottom: 0px;
			width: 100%;
			position: absolute;
			height: 70px;
			background-color: $primaryColor;
			font-family: $secondaryFont;
			color: $lightColor;
			font-size: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all .35s ease-in-out;
			font-size: 25px;
			@include media($desktop) {
				font-size: 32px;
			}

		}
		@include media($desktop) {
		&:hover {
			span {
				opacity: 1;
			}
			.the-seth-button,
			.the-seth-button-again {
				background: #bd813e;
				box-shadow: 10px 10px 15px rgba($primaryColor, .3);

			}
			.the-seth-button-again {
				border: 1px solid rgba($lightColor, .2);
			}

			.feat-overlay {
				background: rgba( #fff, .4);
			}
			.proced-name {
				background:  #c9cfc6;
			}
			.feat-links {
				opacity: 1;
				margin-top: 0px;
				top: 0px;
			}
		}
		}
	}
}




.home-featured-breast {
	background-color: #4a5767;
	background-position: top center;
	background-position-x: -100px; 
	background-repeat: no-repeat;
	background-size: auto 320px;
	color: $lightColor;
	padding-top: 350px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	@include media($tablet) {
		background-size: auto;
		background-position: center center;
		min-height: 625px;
		padding-top: 150px;
		padding-left: 50%;
	}
	span {
		color: $secondaryAlt;
		text-transform: uppercase;
		font-family: $secondaryFont;
		font-size: 20px;
		letter-spacing: 2px;
	}
	h2 {
		margin-bottom: 30px;
	}
	p {
		max-width: 600px;
		margin: 0 auto;
	}
	a {
		color: $lightColor;
		text-decoration: underline;
	}
	.button {
		margin-top: 30px;
		border-bottom: 1px solid $lightColor;
	}
	@include media($full) {
		background-size: cover;
	}
}






.home-media-results {
	background: rgb(72,105,124);
	background: -moz-linear-gradient(-45deg, rgba(72,105,124,1) 0%, rgba(60,93,113,1) 24%, rgba(4,35,59,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(72,105,124,1) 0%,rgba(60,93,113,1) 24%,rgba(4,35,59,1) 100%);
	background: linear-gradient(135deg, rgba(72,105,124,1) 0%,rgba(60,93,113,1) 24%,rgba(4,35,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48697c', endColorstr='#04233b',GradientType=1 );
	color: $lightColor;
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tablet) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include media($desktop) {
		display: flex;
		justify-content: space-between;
	}
	.media-border-smaller {
		height: 1px;
		width: 100px;
		background: $lightColor;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 25px;
	}
	p {
		text-align: left;
		a {color: $lightColor;text-decoration: underline;}
	}
	.the-media {
		max-width: 570px;
		margin: 0 auto;
		@include media($tablet) {
		}
		@include media($desktop) {
			width: auto;
		}
	}
	.the-results {
		margin-top: 60px;
		width: 100%;

		@include media($desktop) {
			margin-top: 0;
			margin-left: 80px;
			width: 48%;
		}
		@include media($full) {
			margin-left: 0;
		}
		
		
		.button {
			margin-top: 40px;
			width: 200px;
		}
	}
	.results-images {
		width: auto;
		// max-width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		// border: 1px solid red;
		margin-left: 20px;
		margin-right: 20px;
		img {
			width: 50%;
			height: auto;
			box-shadow: 10px 10px 15px rgba($primaryColor, .3);
			border: 10px solid $lightColor;
			@include media($tablet) {
				width: 100%;
				// width: auto;
			}
			&:first-of-type {
				margin-right: 40px;
				@include media($tablet) {
					margin-right: 40px;
				}
			}
		}
	}
}
