/*========================================
=            Category Archive            =
========================================*/

.tmpl_type_rmg_archive {
	h2 {
		background: #c9d0c6;
		width: 100%;
		text-decoration: none;
		border-bottom: 0;
		margin-bottom: 10px;
		margin-top: 0;
		// border-bottom: 2px solid $primaryColor;
		padding-bottom: 20px;
		padding-top: 10px;
		margin-bottom: 40px;
		display: inline-block;
		color: $lightColor;
	}
	.content {
		width: 100%;
		justify-content: space-between;
		padding-right: 0;
		@include media($tablet) {
			display: flex;
			flex-wrap: wrap;
		}
		> div {
			width: 100%;

			@include media($tablet) {
				width: 48%;
			}
			&:hover {
				h2 {
					background: $primaryColor;
				}
			} 
		}
		ul {
			margin-left: 0;
			list-style: none;
			margin: 0 !important;

			li {
				padding-left: 0;
				padding-bottom: 10px;
				// font-family: $secondaryFont;
				font-size: 18px;
				font-style: normal;
				text-align: center;

				a {
				display: inline-block;
				width: auto;
				text-align: left;
				text-decoration: none;
				color: $primaryColor;
				border-bottom: 2px solid transparent;
				&:hover {
					border-bottom: 2px solid rgba($primaryColor, 1);
					}
				}
				&:before {
					display: none;
				}
			}
		}
	}
	.interior {
		display: block;
	}

	.cat-container {
		border: 1px solid #c9d0c6;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		margin-top: 40px;
		@include media($tablet) {
			// margin-top: 60px;
		}

		a {
			text-decoration: none;
		}

		.gallery-section {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-bottom: 20px;
			max-width: 500px;
			height: 400px;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			// align-items: flex-end;
			flex-direction: column;
			justify-content: flex-end;
			align-items: baseline;
			align-content: center;
			// justify-content: center;

			h2 {
				width: 100%;
				font-family: $primaryFont;
				color: $primaryColor;
				// text-align: center;
				font-size: 18px;
				line-height: 28px;
				font-weight: bold;
				// background-color: $secondaryColor;
				padding: 0px 20px;
				margin: 0;
			}
			span {
				width: 100%;
				color: $lightColor;
				font-family: $secondaryFont;
				color: $lightColor;
				font-size: 28px;
				// text-align: center;
				display: block;
				padding: 1px 20px;
				margin-bottom: 30px;
			}
			ul {
				margin-left: 0;
				list-style: none;

				li {
					&:before {
						display: none;
					}
				}
			}
		}
		.gallery-content {
			// padding-top: 60px;
			// padding-bottom: 40px;
		}
		.gallery-vid {
			text-align: center;
			padding: 40px 0;
		}
	}
}

// Category Child

.gal-title {
	width: 100%;
	color: $secondaryColor;
	position: relative;
	// border-bottom: 1px solid $secondaryColor;

	h2 {
		font-family: $secondaryFont;
		text-align: center;
		color: $darkColor;
		// color: $secondaryColor;
		// max-width: 600px;
		// margin: 0 auto;
		margin-top: 40px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	// &:before {
	// 	content: '';
	// 	border-top: 1px solid $secondaryColor;
	// 	position: absolute;
	// 	top: 60%;
	// 	left: 0;
	// 	width: calc(50% - 220px);

	// }
	// &:after {
	// 	content: '';
	// 	border-top: 1px solid $secondaryColor;

	// 	position: absolute;
	// 	top: 60%;
	// 	right: 0;
	// 	width: calc(50% - 220px);
	// }
	a {
		color: $secondaryColor;
	}
}

.tmpl_type_rmg_category_child,
.tmpl_type_rmg_category_parent {
	.gallery-cat-wrap {
		// @include media($tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		// }
		padding-left: 0;
		padding-right: 0;
		margin-top: 40px;
		@include media($tablet) {
			margin-top: 0px;
		}
	}
	.bna-group-border {
		border: 1px solid rgba($primaryColor, .4);
		padding: 15px;
	}
	.bna-group {
		padding: 25px;
		border: 1px solid #d0d6cd;
		width: 100%;
		// margin-bottom: 20px;
		background-color: #d0d6cd;
		margin-bottom: 40px;
		position: relative;
		@include media($tablet) {
			margin-bottom: 50px;
			width: 48%;
		}

		h2 {
			background-color: #d0d6cd;
			// text-transform: uppercase;
			font-size: 20px;
			text-align: center;
			color: $lightColor;
			margin: 10px 0;
			margin-bottom: 30px;
			letter-spacing: 1px;
			font-family: $secondaryFont;

			@include media($tablet) {
				font-size: 35px;
			}
		}

		.hover-overlay {
			text-align: center;
			width: 100%;
			font-size: 18px;
			a {
				text-decoration: none;
				color: $primaryColor;
			}
		}

		a.button {
			display: block;
			width: 100% !important;
			padding: 12px 20px;
			// margin-top: 10px;
			@include media($tablet) {
				margin-top: 10px;
			}
			// position: absolute;
			// width: 100%;
			// height: 100%;
			// top: 0;
			// left: 0;
		}

		// &:hover {
		// 	@include media($desktop) {
		// 		.hover-overlay {
		// 			display: inline-block;
		// 			// justify-content: center;
		// 			// align-items: center;
		// 			position: absolute;
		// 			top: 45%;
		// 			right: calc(50% - 100px);
		// 			// left: 50%;
		// 			// bottom: 0;
		// 			width: 200px;
		// 			// margin: 0 auto;
		// 			// width: 100%;
		// 			// height: 100%;
		// 		}
		// 	}
		// }
		.hover-overlay {
			display: none;
			.button {
				// background-color: transparent !important;
				border: none;

				&:hover {
					color: $darkColor!important;
				}

				i {
					padding: 10px;
					border-radius: 50%;
					background-color: $lightColor;
					position: absolute;
					top: 39%;
					left: 45%;
					font-size: 30px;
					line-height: 30px;
					color: $tertiaryColor;
				}
			}
		}
	}
	.case-details {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.img-set {
		// overflow: hidden;
		// @include media($tablet) {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			justify-content: space-between;
			> a {
				display: block;
				width: 49.5%;
			}
			a {
				&:nth-last-of-type(2),
				&:nth-last-of-type(1) {
					.bna-label {
						display: block;
						display: none;
						color: $primaryColor;
						text-transform: uppercase;
						font-weight: bold;
					// letter-spacing: 1px;
				}
			}
			.bna-label {
				display: none;
			}
		}
		// }
		img {
			width: 100%;
			margin-bottom: 10px;
			border: 1px solid rgba($primaryColor, .4);
		}
		.before-link,
		.after-link {
			position: relative;
			&:after {
				content: "";
				// background: url('images/bg-bna-watermark.png');
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;

				@include media($tablet) {
					left: 20px;
					height: 40px;
					bottom: 20px;
				}
			}
		}
	}

	.details-hdng {
		// text-align: left;
		// font-weight: $normal;
		// color: $lightColor !important;
		// margin-top: 40px;
		// font-family: $highlightFont;
		// text-transform: uppercase;
	}
	.patient-details {
		text-align: left;
	}
}

// Single Case

.tmpl_type_rmg_single_case {
	.single-case-title {
	}
	.single-case-border {
		border: 1px solid rgba($primaryColor, .4);
		padding: 20px 15px; 
		@include media($tablet) {
			padding: 40px 15px; 
		}
	}
	.single-case-content {
		background-color: #d0d6cd;
		margin-top: 0;
			padding: 25px;
	}
	h2 {
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
	}
	.case-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// border: 1px solid red;
		margin: 0 auto;
		text-align: center;
		padding: 0px 0;
		position: relative;
		@include media($tablet) {
			// width: 80%;
		}
		// p {
		// 	padding-top: 20px;
		// 	text-align: left;
		// }
	}
	.img-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		@include media($tablet) {
			// width: 80%;
		}
		@include media($desktop) {
			width: 70%;
		}
		> div {
			position: relative;
			width: 49%;
			margin-bottom: 20px;
			img {
				width: 100%;
				border: 1px solid rgba($primaryColor, .4);
			}
			&:nth-last-of-type(2),
			&:nth-last-of-type(1) {
				.bna-label {
					font-family: $primaryFont;
					position: absolute;
					display: block;
					// bottom:0px;
					width: 100%;
					text-align: center;
					color: $primaryColor;
					// text-transform: uppercase;
					// font-weight: bold;
					// letter-spacing: 1px;
				}
			}
		}
		.bna-label {
			display: none;
		}

		.before-img,
		.after-img {
			position: relative;

			&:after {
				content: "";
				background: url("images/bg-bna-watermark.png");
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 3px;
				left: 10px;
				width: 90%;
				height: 20px;

				@include media($tablet) {
					left: 20px;
					height: 40px;
					bottom: 10px;
				}
			}
		}
	}

	.patient-details {
		width: 98%;
		text-align: left;
		line-height: 20px;
		// padding: 15px 35px 20px 35px;
		margin-top: 30px;
		@include media($desktop) {
			margin-top: 80px;
			width: 70%;
		}
		span {
			font-family: $secondaryFont;
			font-size: 25px;
			color: $primaryColor;
			padding-bottom: 20px;
			display: block;
		}
	}
}

.notice-body-everything {
	h2,
	p {
		color: $darkColor;
	}
}

.back-btn {
	position: absolute;
	top: 0;
	text-align: left;
	position: relative;
	margin-top: -90px;
	margin-bottom: 180px;
	display: none;
	@include media($tablet) {
		display: block;
		margin-top: -120px;
		margin-bottom: 80px;
	}
	.gallery-button {
		padding-top: 10px;
		padding-bottom: 15px;
		padding-left: 25px;
		padding-right: 25px;
		i {
			color: $tertiaryColor;
			font-size: 20px;
			position: relative;
			top: 2px;
			transition: all 0.2s ease-in-out;
			margin-right: 5px;
		}
		&:hover {
			text-decoration: none;
			i {
				color: $primaryColor
			}
		}
	}
	h2 {
		display: block;
		text-align: center;
		margin: 0;
		margin-top: 40px;
		font-family: $secondaryFont;
		@include media($tablet) {
			margin-bottom: 0px;
			margin-top: -45px;
			display: block;
		}
	}
}

.gallery-title {
	background: $darkColor;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	h1 {
		max-width: 250px;
		@include media($tablet) {
			max-width: none;
			max-width: 850px;
		}
	}
}

.gallery-nav {
	// border: 1px solid red;
	margin: 0 auto;
	// margin-top: -10px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
	height: 50px;
	@include media($tablet) {
		// margin-bottom: 80px;
		// margin-top: -25px;
	}
	.gallery-button {
		float: left;
	}
.gal-prev-next {
	position: relative;
	height: 50px;
	// border: 1px solid #000;
	width: 120px;
	float: right;
}
}

.single-case-title {
	color: $primaryColor;
	font-size: 30px;
	font-family: $secondaryFont;
	text-align: center;
	margin-top: 30px;
	@include media($tablet) {
		margin-top: 10px;
	}
}

.button-rmg {
	padding-left: 20px;
	padding-right: 20px;
	i {
		position: relative;
		top: 6px;
		color: $lightColor;
		font-size: 30px;
		line-height: 0;
		transition: all .2 ease-in-out;
	}
		&:hover {  i{

			color: $primaryColor;
		} 
		} 
	.fa-angle-left {
		// right: 10px;
	}
	.fa-angle-right {
		// left: 10px;
	}
}

.button-gallery-next {
	position: absolute;
	right: 0;
}

.button-gallery-prev {
	position: absolute;
	left: 0;
}
