$menuHeight : 70px;


.hover-menu {
	.duplicate-item {
		display: none;
	}
	width: 100%;
	// border: 1px solid black;
	// @include font(18px, 1em);
	display: block;
	.main-menu {
		font-size: 0;
		text-align: center;
		display: flex;
		justify-content: baseline;
		align-items: center;
		height: $menuHeight;
		> li {
			display: inline-block;
			vertical-align: top;
			position: relative;
			height: 100%;
			// margin-left: 10px;
			// &:last-of-type {
			// 	a {
			// 		padding-right: 0;
			// 	}
			// }
			//show sub-menus on hover
			&:hover{
				> a {
					color: $lightColor;
					background: $primaryColor;
					// border-bottom: 2px solid $tertiaryColor;

					// border-top: 1px solid $tertiaryColor;
					// background: lighten($primaryColor, 15%);
					// background: $darkColor;
					// background-color: $primaryAlt;


				} 
				> .sub-menu{
					opacity: 1;
					visibility: visible;
					z-index: 50;
					top: $menuHeight; //same as height of .main-menu
				}
			}
			&.mega-menu{
				position: static;
			}
			a{	
				display: block;
				text-decoration: none;
				padding: 20px 20px;
				transition: .25s ease-in-out background;
				color: $primaryColor; 
				height: $menuHeight;
				text-transform: uppercase;
				
				&:hover {
					color: $lightColor;
					background: $darkColor;
				}
			}
		}
	}

	a {
		font-size: 14px; 
		line-height: 30px;
	}

	.sub-menu {
			background: $primaryAlt; //set to your own background color
			// border: 1px solid rgba($lightColor, .2); //for visual purposes.  can remove.
			position: absolute;
			top: 70px;
			left: 50%;
			right: 50%;
			transform: translate(-50%, 0);
			opacity: 0;
			visibility: hidden;
			width: 250px;
			z-index: -5;
			transition: .25s ease-in-out all;
			// transition: .25s ease-in-out top, .25s ease-in-out opacity;
			> li {

				// border-bottom: 1px solid rgba($secondaryColor, .1); 
				//for visual purposes.  can remove.
				&:last-of-type {
					border-bottom:none;
				}

				&.menu-item-has-children {
					// padding-right: 25px; //set this to the size of the arrows container
					position: relative;

					&:after{
						content: '';
						width: 6px;
						height: 12px;
						background-size: 6px 12px;
						transition: .2s linear all;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						// left: 0;
						right: 10px;
						margin: 0 auto;
						background-image: url(images/svg/arrow.svg);
						background-position: center;
						background-repeat: no-repeat;
					}
					.sub-menu{
						// left: 250px;
						right: inherit;
						left: inherit;
						transform: none;
						left: 250px;
						top: 0;

					}
					&:hover{ //show third level sub-menu
						&:after{
							right: 7px;
							// transform: translateY(-50%) rotate(90deg);
						}
						> .sub-menu{
							opacity: 1;
							visibility: visible;
							right: inherit;
							left: inherit;
							transform: none;
							left: 250px;
							top: 0;
						}
					}
				}

				a {
					color: $lightColor;
					background: $darkColor;
					padding: 12px 20px !important;

				}
				&:hover {
					> a {
						color: $lightColor;
						border-bottom: none;
						text-decoration: underline;
					}
				}
			}
			a{
				text-align: left;
				height: auto !important;
				color: $lightColor;
				line-height: 20px;
			}
		}

		.mega-menu{
			> .sub-menu{
				width: 100%;
				.sub-menu{ //reset styling for sub-sub-menus
					position: relative;
					opacity: 1;
					visibility: visible;
					width: 100%;
					top: inherit;
					left: 0!important;
					right: inherit;
					transform: none;
					z-index: 50;
				}
				li{
					padding-right: 0;
					&:after{
						display: none;
					}
				}
				a{
					// color: #fff; //remove
				}
				> li{
					width: 50%; //set this width to however many columns you need
					display: inline-block;
					vertical-align: top;
					padding: 25px;
					> a, > .sub-menu{ //set the background color of the sub-menus
						background: none;
					}
				}
			}
		}
		.close-menu{
			display: none!important;
		}
	}